#top-heading {
    text-align: center;
    background-color: black;
    color: yellowgreen;
}

#top-heading:hover {
    transform: scale(3, 1.5);
}

section h1 {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin: 20px auto;
    background-color: yellowgreen;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#rotate:hover {
    transform: rotate(.5turn);
}

#translate:hover {
    transform: translate(100px, 50%);
}

#scale:hover {
    transform: scale(3.5, 2);
}

#skew:hover {
    transform: skew(30deg, 20deg);
}

